balancePane RCDATA "res\\balancePane.png"
cafe RCDATA "res\\cafe.png"
family RCDATA "res\\family.png"
gifts RCDATA "res\\gifts.png"
health RCDATA "res\\health.png"
leisure RCDATA "res\\leisure.png"
products RCDATA "res\\products.png"
purchases RCDATA "res\\purchases.png"
transport RCDATA "res\\transport.png"
